.vscode
.vs
build
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
src/CombinDbAccessServer/DbAccess.h
src/ConfigServer/Config.h
src/KVCacheServer/BackUp.h
src/KVCacheServer/BinLog.h
src/KVCacheServer/Cache.h
src/KVCacheServer/ControlAck.h
src/KVCacheServer/WCache.h
src/MKVCacheServer/MKBackUp.h
src/MKVCacheServer/MKBinLog.h
src/MKVCacheServer/MKCache.h
src/MKVCacheServer/MKControlAck.h
src/MKVCacheServer/MKWCache.h
src/OptServer/DCacheOpt.h
src/PropertyServer/Property.h
src/Proxy/Proxy.h
src/Router/Router.h
src/Router/RouterClient.h
src/Router/RouterShare.h
src/TarsComm/CacheShare.h
src/TarsComm/DbAccess.h
src/TarsComm/ProxyShare.h
